{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
<div class="card-body">
{% verbatim %}
The follow variables and math functions can be used inside your model (defined in model textbox below.)
<br>
{{avg_dl}}
<br>
{{num_docs}}
<br>
{{total_terms}}
<br>
{{query_length}}
<br>
{{t_id}}
<br>
{{query_term_weight}}
<br>
{{doc_count}}
<br>
{{corpus_term_count}}
<br>
{{d_id}}
<br>
{{doc_term_count}}
<br>
{{doc_size}}
<br>
{{doc_unique_terms}}
{% endverbatim %}
</div>
</div>
    <form method="post">{% csrf_token %}{{ form|crispy}}<input type="submit" value="Add"></form> test
    <table id="tablePreview" class="table table-striped table-sm">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        {% for obj in object_list %}
                <tr>
                <td>{{obj.name}}</td>
                <td>{{obj.description}}</td>
                <td>
                    <a href="{% url 'ModelUpdate' obj.id %}">Edit</a>
                </td>
                <td><a href="{% url 'ModelDelete' obj.id %}">Delete</a></td>
                </tr>
        {% endfor %}
    </table>
{% endblock content %}
