{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<center>

  <form method="get" action="/search">
 <div class="form-group row">
  <label for="dataset"><a href="dataset">Dataset: </a></label>
    <select id="dataset" name="dataset" class="form-control" value="{{default_dataset}}">
      {% for obj in datasets %}<option>{{obj.name}}</option>{% endfor %}
    </select>
  </div>
   <div class="form-group row">
  <label for="model"><a href="model">Model: </a></label>
    <select id="model" name="model" class="form-control" value="dtc">
      {% for obj in models %}<option>{{obj}}</option>{% endfor %}
    </select>
    </div>
    <br>
    <br>
    <input class="form-control" id="query" name="query" type="text" placeholder="Query">
    <br>
    <input class="btn btn-primary" type="submit" value="Search">

      </form>



<br>

{% if results %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Score</th>
      <th scope="col">Size</th>
      <th scope="col">Unique Terms</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in results %}
    <tr>
      <th scope="row">{{obj.rank}}</th>
      <td>{{obj.score}}</td>
      <td>{{obj.doc_size}}</td>
      <td>{{obj.unique_terms}}</td>
      <td>{{obj.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock content %}
