<div class="topnav">
  <label><a href="dataset">Dataset: </a></label>
    <select>
      <option>Cranfield</option>
      <option>Test</option>
    </select>

    <label><a href="model">Model: </a></label>
    <select>
      <option>BM25+</option>
      <option>Add new...</option>
    </select>
</div>
{{ results }}
<center>
  <h1>VPR</h1>
  <form method="get" action="/search">
    <input id="query" name="query" type="text" placeholder="Query">
    <input type="submit" value="Search">
  </form>
</center>
